* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #FDFDFD;
}

a {
  color: #FF8E1F;
}
a:hover {
  color: #A6570A;
  text-decoration: none;
}

.clear {
  clear: both;
}

body.home {
  background: url(../images/header-background.jpg) no-repeat;
  background-size: 100% auto;
}

header .logo {
  display: inline-block;
  width: 410px;
}
header .logo-web2day {
  height: 200px;
  background: url(../images/web2day.png) no-repeat;
  background-size: contain;
  float: left;
}
header .logo-companycampus {
  height: 50px;
  margin-top: 87px;
  background: url(../images/companycampus.png) no-repeat;
  background-size: contain;
  float: right;
}
@media screen and (max-width: 985px) {
  header .logo {
    width: 300px;
  }
  header .logo-web2day {
    height: 150px;
  }
  header .logo-companycampus {
    margin-top: 65px;
  }
  .presentation {
    margin-top: 80px;
  }
}
@media screen and (max-width: 750px) {
  header .logo {
    width: 200px;
  }
  header .logo-web2day {
    height: 100px;
  }
  header .logo-companycampus {
    margin-top: 42px;
  }
  .presentation {
    margin-top: 50px;
  }
}
@media screen and (max-width: 460px) {
  header .logo {
    display: block;
    width: 100%;
    background-position: center;
  }
  header .logo-web2day {
    height: 100px;
    float: none;
  }
  header .logo-companycampus {
    margin-top: 10px;
    margin-bottom: 20px;
    float: none;
  }
  .presentation {
    margin-top: 30px;
  }
}

header.home h1 {
  font-size: 4em;
  margin-top: 60px;
  text-align: center;
  line-height: 1em;
}

.presentation {
  max-width: 500px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
  margin-top: 100px;
}
.presentation p {
  margin-bottom: 30px;
}
@media screen and (max-width: 985px) {
  .presentation {
    margin-top: 80px;
  }
}
@media screen and (max-width: 750px) {
  .presentation {
    margin-top: 50px;
  }
}
@media screen and (max-width: 460px) {
  .presentation {
    margin-top: 30px;
  }
}

.login {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 500px;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 18px 2px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.34);
}
.login input {
  width: 100%;
  padding: 18px 10px;
  border-radius: 2px;
}
.login input[type=submit] {
  padding: 8px 0;
  margin-top: 20px;
}
.login form {
  margin-bottom: 5px;
}

.help-inline {
  color: red;
}

.introduction {
  margin-top: 40px;
  margin-bottom: 40px;
}

.web2day-logo {
  background: url(../images/web2day.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 180px;
  max-width: 410px;
  margin: 50px auto;
}

textarea, input[type=text], input[type=password] {
  width: 100%;
}

textarea {
  height: 150px;
}

.help-block {
  display: none;
}

.bmc-title {
  margin-bottom: 20px;
  margin-left: 0;
}

.bmc .clearfix {
  position: relative;
}

.bmc-top .input {
  position: absolute;
  top: 0;
  width: 100%;
}

.bmc label {
  position: relative;
  top: 35px;
  left: 5px;
  font-size: 1.3em;
  color: #555;
}

.bmc-top label {
  top: 4px;
  z-index: 1;
}

.bmc textarea {
  padding-top: 30px;
  background: #FAFAFA;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.bmc-top > div {
  height: 500px;
  margin-bottom: 50px;
}

.bmc-top .span2 div, .bmc-top .span2 textarea {
  height: 100%;
}

.bmc-top .span3 > div {
  height: 50%;
  margin-bottom: 25px;
}

.bmc-top .span3 .input {
  height: 90%;
}

.bmc-top .span3 textarea {
  height: 100%;
}

.bmc i {
  float: right;
  position: relative;
  top: 35px;
  font-size: 1.3em;
  z-index: 5;
}

.bmc-top i {
  top: 5px;
  right: -5px;
}

.bmc-bottom {
  position: relative;
  top: -25px;
}

textarea#pitch {
  height: 110px;
}

input[type=submit].btn.btn-primary, a.btn.btn-primary {
  background-color: #ff8e1f;
  background-image: -moz-linear-gradient(top, #ff9933, #ff7f00);
  background-image: -ms-linear-gradient(top, #ff9933, #ff7f00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9933), to(#ff7f00));
  background-image: -webkit-linear-gradient(top, #ff9933, #ff7f00);
  background-image: -o-linear-gradient(top, #ff9933, #ff7f00);
  background-image: linear-gradient(top, #ff9933, #ff7f00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9933', endColorstr='#ff7f00', GradientType=0);
  border-color: #ff7f00 #ff7f00 #b35900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff7f00;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

textarea, input[type=text] {
  border-radius: 2px;
}

textarea:focus, input[type=text]:focus {
  border-color: rgba(255, 143, 32, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 143, 32,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 143, 32,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 143, 32,.6);
}

.pitch-chars-count {
  float: right;
  position: relative;
  top: -28px;
  right: -13px;
}

.confirmation {
  width: 365px;
  padding: 50px 100px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.05);
  text-align: center
}

.confirmation div {
  margin-top: 40px;
}

.confirmation > * {
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .bmc textarea {
    padding-top: 45px;
  }

  .bmc-bottom {
    top: -20px;
  }
}

@media screen and (max-width: 600px) {
  .confirmation {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    box-shadow: none;
    border: none;
  }
}

#ui-datepicker-div {
  z-index: 10 !important;
}

tbody tr {
  cursor: pointer;
}

.horse {
  margin-top: 15px;
}

.too-late {
  margin-top: 100px;
  text-align: center;
  font-size: 4em;
}
