@(choosepasswordForm: Form[(String,String)], user: models.User)(implicit request: Request[AnyContent], lang: Lang)

@import helper.twitterBootstrap._

@main(Messages("choosepassword.title")) {
<h1>Startup Contest Web2day</h1>
<h2>@Messages("choosepassword.title")</h2>
@helper.form(action = routes.Application.choosePassword(user.id), 'class -> "span3") {

  @for(error <- choosepasswordForm.globalErrors) {
    <p>@error.message</p>
  }
  
  <p>
    <div style="display: none;">
      @helper.inputText(choosepasswordForm("token"), 'type -> "hidden")
    </div>
    @helper.inputPassword(choosepasswordForm("password"), 'required -> "required")
  </p>

  <input type="submit" class="btn btn-primary" value="@Messages("choosepassword.button")" />

}
}

