@()(implicit request: Request[AnyContent], lang: Lang, flash: Flash)

@import helper.twitterBootstrap._

@main(Messages("forgottenpassword.title")) {
<h1>Startup Contest Web2day</h1>
<h2>@Messages("forgottenpassword.title")</h2>
@helper.form(action = routes.Application.forgottenpassword(), 'class -> "span3") {

  <p>
    <label for="email">@Messages("email")</label>
    <input type="email" name="email" id="email" />
  </p>

  <input type="submit" class="btn btn-primary" value="@Messages("forgottenpassword.button")" />

}
}

