@(formBMC: Form[RecordBMC], formInfo: Form[RecordInfo])(implicit request: Request[AnyContent], lang: Lang)
@import helper.twitterBootstrap._

@main(Messages("title")) {

<h1>@Messages("title")</h1>
@helper.form(action = routes.Application.addRecord) {
  <div class="presentation">
    <div class="main">@Html(Messages("presentation"))</div>
    <a href="#">@Messages("more.info")</a>
  </div>
  <p><small>@Messages("required", "*")</small></p>
  <div class="row bmc bmc-top">
    <h4>@Messages("bmc.title")</h4>
    <div class="span2">
      @helper.textarea(formBMC("partners"), 'required -> "required")
    </div>
    <div class="span3">
      @helper.textarea(formBMC("activities"), 'required -> "required")
      @helper.textarea(formBMC("resources"), 'required -> "required")
    </div>
    <div class="span2">
      @helper.textarea(formBMC("propositions"), 'required -> "required")
    </div>
    <div class="span3">
      @helper.textarea(formBMC("customerRelationships"), 'required -> "required")
      @helper.textarea(formBMC("channels"), 'required -> "required")
    </div>
    <div class="span2">
      @helper.textarea(formBMC("customerSegments"), 'required -> "required")
    </div>
  </div>
  <div class="row bmc">
    <div class="span6">@helper.textarea(formBMC("costStructure"), 'required -> "required")</div>
    <div class="span6">@helper.textarea(formBMC("revenueStreams"), 'required -> "required")</div>
  </div>

  <div class="row">
    <div class="span6">
      @helper.textarea(formInfo("pitch"), 'maxlength -> "400", 'required -> "required")
      @helper.inputText(formInfo("name"), 'required -> "required")
      @helper.inputText(formInfo("company"), 'required -> "required")
      @helper.inputText(formInfo("companyCreation"), 'required -> "required", 'placeholder -> Messages("date.format"))
      @helper.inputText(formInfo("companyWebsite"), 'required -> "required")
      @helper.inputText(formInfo("email"), 'required -> "required")
      @helper.inputText(formInfo("phone"), 'required -> "required")
      @helper.inputText(formInfo("vine"), 'placeholder -> "https://vine.co/v/xxxxxxxx", 'required -> "required")
      @helper.inputText(formInfo("twitter"), 'placeholder -> "@handle")
      @helper.inputText(formInfo("angelco"), 'placeholder -> "https://angel.co/xxxxxxxx")
      @helper.inputText(formInfo("presentationUrl"))
      @helper.inputText(formInfo("amount"))
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p><small>@Messages("required", "*")</small><br /><br /></p>
      <input class="btn btn-primary btn-large" type="submit" value="@Messages("apply")" />
    <div>
  </div>
}

}
