@(loginForm: Form[(String,String)])(implicit request: Request[AnyContent], lang: Lang)

@import helper.twitterBootstrap._

@main("Login") {
<div class="row">
  <div class="span6">
    <h1>Administration</h1>
    <h2>Login</h2>
    @helper.form(action = routes.Application.authenticate, 'class -> "form-horizontal span3") {

      @for(error <- loginForm.globalErrors) {
        <p>@error.message</p>
      }
      
      <p>
        @helper.inputText(loginForm("email"))
        @helper.inputPassword(loginForm("password"))
      </p>

      <input type="submit" class="btn btn-primary" value="Connexion" />

    }
  </div>
  <div class="span6">
    <img class="horse" src="@routes.Assets.at("images/horse.jpg")" />
  </div>
</div>
}

