@(records: List[models.Record])

@main("web2day Applications") {

<h1>web2day Applications</h1>

<table class="table table-hover">
  <thead><tr>
    <th>@Messages("partners")</th>
    <th>@Messages("activities")</th>
    <th>@Messages("resources")</th>
    <th>@Messages("propositions")</th>
    <th>@Messages("customerRelationships")</th>
    <th>@Messages("channels")</th>
    <th>@Messages("customerSegments")</th>
    <th>@Messages("costStructure")</th>
    <th>@Messages("revenueStreams")</th>
    <th>@Messages("pitch")</th>
    <th>@Messages("name")</th>
    <th>@Messages("company")</th>
    <th>@Messages("companyCreation")</th>
    <th>@Messages("companyWebsite")</th>
    <th>@Messages("email")</th>
    <th>@Messages("phone")</th>
    <th>@Messages("twitter")</th>
    <th>@Messages("angelco")</th>
    <th>@Messages("presentationUrl")</th>
    <th>@Messages("amount")</th>
  </tr></thead>
  <tbody>
    @for(r <- records) {
      <tr data-uuid="@r.id">
        <td>@{r.bmc.partners}</td>
        <td>@{r.bmc.activities}</td>
        <td>@{r.bmc.resources}</td>
        <td>@{r.bmc.propositions}</td>
        <td>@{r.bmc.customerRelationships}</td>
        <td>@{r.bmc.channels}</td>
        <td>@{r.bmc.customerSegments}</td>
        <td>@{r.bmc.costStructure}</td>
        <td>@{r.bmc.revenueStreams}</td>
        <td>@{r.info.pitch}</td>
        <td>@{r.info.name}</td>
        <td>@{r.info.company}</td>
        <td>@{r.info.companyCreation}</td>
        <td>@{r.info.companyWebsite}</td>
        <td>@{r.info.email}</td>
        <td>@{r.info.phone}</td>
        <td>@{r.info.twitter}</td>
        <td>@{r.info.angelco}</td>
        <td>@{r.info.presentationUrl}</td>
        <td>@{r.info.amount}</td>
      </tr>
    }
  </tbody>
</table>

}
