@(records: List[models.Record], user: models.User)(implicit request: Request[AnyContent], lang: Lang)

@adminpage(Messages("applications")) {

<h1>@Messages("records.title")</h1>
@if(user.kind == models.UserKind.Admin) {
  <a class="btn btn-primary" href="/users" style="float: right; position: relative; top: -45px;">
    @Messages("users")
  </a>
}

<table class="table table-hover">
  <thead><tr>
    <th>@Messages("name")</th>
    <th>@Messages("company")</th>
    <th>@Messages("companyCreation")</th>
    <th>@Messages("companyWebsite")</th>
    <th>@Messages("email")</th>
    <th>@Messages("phone")</th>
    <th>@Messages("vine")</th>
    <th>@Messages("twitter")</th>
    <th>@Messages("angelco")</th>
    <th>@Messages("presentationUrl")</th>
    <th>@Messages("amount")</th>
  </tr></thead>
  <tbody>
    @for(r <- records) {
      <tr data-uuid="@r.id">
        <td>@{r.info.name}</td>
        <td>@{r.info.company}</td>
        <td>@{r.info.companyCreation.toString("yyyy-MM-dd")}</td>
        <td>@{r.info.companyWebsite}</td>
        <td>@{r.info.email}</td>
        <td>@{r.info.phone}</td>
        <td><a href="@{r.info.vine}">@{r.info.vine}</a></td>
        <td>@{r.info.twitter}</td>
        <td>@{r.info.angelco}</td>
        <td>@{r.info.presentationUrl}</td>
        <td>@{r.info.amount}</td>
      </tr>
    }
  </tbody>
</table>

}
